<div class="login-container">
  <mat-card class="login-card">
    <h2 class="title">Login</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />

        @if ( getFormValidation.email.touched || getFormValidation.email.dirty ) { @if
        (getFormValidation.email.errors?.['required']) {
        <mat-error>Email is required</mat-error>
        } @if (getFormValidation.email.errors?.['email']) {
        <mat-error>Enter a valid email address</mat-error>
        } }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />

        @if ( getFormValidation.password.touched || getFormValidation.password.dirty ) { @if
        (getFormValidation.password.errors?.['required']) {
        <mat-error>Password is required</mat-error>
        } @if (getFormValidation.password.errors?.['minlength']) {
        <mat-error>
          Password must be at least
          {{ getFormValidation.password.errors?.['minlength'].requiredLength }}
          characters
        </mat-error>
        } }
      </mat-form-field>

      @if (error) {
      <div class="error">{{ error }}</div>
      }

      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="submit"
        [disabled]="loading"
      >
        @if (loading ) {
        <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
        } @else{
        <ng-container>Login</ng-container>

        }
      </button>
    </form>
  </mat-card>
</div>
